---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import { Client, Account } from "appwrite";
const client = new Client();

client
    .setEndpoint('http://localhost/v1')
    .setProject('647e27060cf40985784a');
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Report as Missing</Fragment>
      <Fragment slot="desc">We are here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Emergency?</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          In case of an emergency, please contect emergency services:
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="maki:emergency-phone" /><a
              >911</a>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="maki:telephone" /><a
              href="tel:+1 (416) 808 2222">+1 (416) 808 2222</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
