---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Identify",
    description:
      "Identify the missing person, whether it be friends, family, or neighbours. Then navigate to the www.reportwithus.com to file a report. ",
    icon: "mdi:numeric-1-circle-outline",
  },
  {
    title: "Report",
    description:
      "Navigate to the report section of the webpage. From here, begin entering: Your Full Name, Your Email Adress, The Full Name Of The Missing Person, Along With Their Last Sighting & Parent Contact Info.",
    icon: "mdi:numeric-2-circle-outline",
  },
  {
    title: "Submit",
    description:
      "Submit the form to the website, where it will be reviewed, approved and put out to the general consensu (we will also report it to government authoritites, who will broadcast it as an amber alert).",
    icon: "mdi:numeric-3-circle-outline",
  },
  {
    title: "Broadcast",
    description:
      "You will receive an email from us shortly regarding your submission's approval status, along with follow up details.",
    icon: "mdi:numeric-4-circle-outline",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
     Get Started
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Here's how you can get started reporting sightings with SafeHarbor
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
